<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Nomes</title>
</head>
<body>
    <h1>Full Cycle Rocks!</h1>
    <form action="/" method="POST">
        <label for="name">Nome</label> </br>
        <input type="text" name="name" id="name" placeholder="Digite o nome">
        <button type='submit'>Adicionar</button>
    </form>

    <h3>Lista de Nomes</h3>
    <ul>
        <% people.map(person => { %>
            <li><%= person.name %></li>     
        <% }) %>
    </ul>
</body>
</html>